body {
  width: 100vw;
  height: 100vh;
  min-width: 375px;
}

.head-box {
  background-color: #023E8A;
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #CAF0F8;
}

.logo {
  font-size: 70px;
  font-weight: bold;
}

.logo2 {
  font-size: 50px;
  font-weight: bold;
}

.center-box {
  min-height: 70vh;
  max-height: 70vh;
  background-color: #0077B6;
  overflow-y: scroll;
  scrollbar-width: none;
}

#container-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.footer-box {
  min-height: 10vh;
  background-color: #023E8A;
  color: #CAF0F8;  
}

.column {
  flex-wrap: wrap;
  float: left;
  background-color: white;
  height: 100%;
  width: 100%;
  text-align: center;
  border-radius: 10px;
  color: #023E8A;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.card-img-top {
  height: 100px;
  width: 100px;
}

.product-info {
  display: none;
  background-color: #CAF0F8;
  position: fixed;
  height: 75%;
  width: 50%;
  top: 12.5%;
  left: 25%;
  overflow-y: auto;
  border-radius: 10px;
  box-shadow: 10px 5px 5px 5px rgba(0, 0, 0, 0.2);
  scrollbar-width: none;
}

.product-info > * {
  background-color: #CAF0F8;
}

#levAdress > * {
  margin: 2px;
}

#bstInfoSite > * {
  color: white;
  size: 50px;
}