body {
    width: 100vw;
    height: 100vh;
}

.head-box {
    background-color: aqua;
    min-height: 20vh;
    text-align: center;
}

.center-box {
    /* display: flex;
    flex-wrap: wrap; */
    min-height: 70vh;
    background-color: blue;
}

.footer-box {
    min-height: 10vh;
    background-color: rgb(255, 145, 0);
}

.column {
    flex-wrap: wrap;
    float: left;
    background-color: white;
    padding: 5px;
    margin: 5px;
    width: 100%;
    height: 100%;
    text-align: center;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.col {
    background-color: red;
}

.card-img-top {
    height: 100px;
    width: 100px;
}